# rename this ENV file as "default" place in ~/.cw/default

CWCLI_BITBUCKET_APP_PASSWORD=
CWCLI_BITBUCKET_PROJECT_DRUPAL=
CWCLI_BITBUCKET_PROJECT_STATIC=
CWCLI_BITBUCKET_PROJECT_WORDPRESS=
CWCLI_BITBUCKET_USERNAME=
CWCLI_BITBUCKET_WEBHOOK_URL=
CWCLI_BITBUCKET_WORKSPACE=
CWCLI_DATABASE_IMPORT_DIR=
CWCLI_GIT_DOMAIN=
CWCLI_GIT_USER=git
CWCLI_GIT_WORKSPACE=
CWCLI_SITES_DIR=
CWCLI_SSH_TEST_SERVER=
CWCLI_SSH_USER=
CWCLI_TASK_URL_PREFIX=
CWCLI_TEST_SERVER_DEPLOY_KEY=
